<div class="col-sm-3">
    <ul id="nav-tabs-wrapper" class="nav nav-tabs nav-pills nav-stacked well">
        <li class="active"><a href="#vtab1" data-toggle="tab">DNS Yönlendirme</a></li>
        <li><a href="#vtab2" data-toggle="tab">İletişim Bilgileri</a></li>
        <li><a href="#vtab3" data-toggle="tab">Transfer Kod Al</a></li>
        <li><a href="#vtab4" data-toggle="tab">Alt İsim Sunucu</a></li>
        <li><a href="#vtab5" data-toggle="tab">URL Yönlendirme</a></li>
        <li><a href="#vtab6" data-toggle="tab">Güvenlik Koruması</a></li>
        <li><a href="#vtab7" data-toggle="tab">Farklı Üyeye Aktar</a></li>
    </ul>
</div>
<div class="col-sm-9">
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="vtab1">
            <h3>DNS Yönlendirme</h3>
            İçerik Alanı
        </div>
        <div role="tabpanel" class="tab-pane fade" id="vtab2">
            <h3>İletişim Bilgileri</h3>
            İçerik Alanı
        </div>
        <div role="tabpanel" class="tab-pane fade" id="vtab3">
            <h3>Transfer Kodu al</h3>
            İçerik Alanı
        </div>
        <div role="tabpanel" class="tab-pane fade in" id="vtab4">
            <h3>Alt İsim Sunucusu Yöntimi</h3>
            İçerik Alanı
        </div>
        <div role="tabpanel" class="tab-pane fade in" id="vtab5">
            <h3>URL Yönlendirme</h3>
            İçerik Alanı
        </div>
        <div role="tabpanel" class="tab-pane fade in" id="vtab6">
            <h3>Güvenlik Koruması</h3>
            İçerik Alanı
        </div>
        <div role="tabpanel" class="tab-pane fade in" id="vtab7">
            <h3>Farklı Üyeye Aktar</h3>
            İçerik Alanı
        </div>
    </div>
</div>